<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <connectionString>Server=97c38f3b-2dd4-4e2b-874e-a0a5002529c5.sqlserver.sequelizer.com;Database=db97c38f3b2dd44e2b874ea0a5002529c5;User ID=umdwewcuzkiuiuce;Password=mVLiJALbFfpbjxJAT2BmLjJjeiC57xcRMGe6SDGv2gveMdLEXZdAu2FcmAeA7Pdi;</connectionString>
    
    <!--google-->
    <googleClientId></googleClientId>
    <googleClientSecret></googleClientSecret>
  </properties>
</configuration>
