<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--NHibernate-->
    <connection_provider>NHibernate.Connection.DriverConnectionProvider</connection_provider>
    <connection_driver_class>NHibernate.Driver.SqlClientDriver</connection_driver_class>
    <dialect>NHibernate.Dialect.MsSql2008Dialect</dialect>
    <proxyfactory_factory_class>NHibernate.ByteCode.Castle.ProxyFactoryFactory,CodeSharp.Core.Castles</proxyfactory_factory_class>
    <cache_provider_class>NHibernate.Caches.SysCache.SysCacheProvider,CodeSharp.Core.Castles</cache_provider_class>

    <!--google-->
    <googleOAuth2TokenUrl>https://accounts.google.com/o/oauth2/token</googleOAuth2TokenUrl>
    <googleOAuth2Url>https://accounts.google.com/o/oauth2/auth</googleOAuth2Url>
    <googleOAuth2UserUrl>https://www.googleapis.com/oauth2/v1/userinfo</googleOAuth2UserUrl>
    <googleScope>https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/calendar https://www.google.com/calendar/feeds https://www.google.com/m8/feeds https://www.google.com/m8/feeds/contacts/default/full</googleScope>

  </properties>
</configuration>
