@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var apps = ViewBag.Apps as IEnumerable<Properties.Model.Application>;
}

@using (Html.BeginForm("Create", "Application"))
{
<div class="control-group input-append">
    <input type="text" name="name" placeholder="application name" /><button type="submit" class="btn" onclick="return check()"><i class="icon-plus"></i>&nbsp;New Application</button>
</div>
}

<div class="row">
@foreach(var a in apps)
{
    <div class="span2 alert alert-success">
        <strong>@Html.ActionLink(a.Name, a.ID.ToString())</strong>
        @a.CreateTime.ToString("yyyy/M/d")
    </div>
}
</div>

@section Bottom{
<script type="text/javascript">
    function check() {
        var b = $.trim($('input[name="name"]').val()) != '';
        $('.control-group')[b ? 'removeClass' : 'addClass']('error');
        return b;
    }
</script>
}
