@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var apps = ViewBag.Apps as IEnumerable<Properties.Model.Application>;
}

<div class="btn-group">
    <button class="btn btn-large btn-inverse dropdown-toggle" data-toggle="dropdown">Action
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a>app</a></li>
    </ul>
</div>
<hr />
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#setting">Setting</a></li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#">Share</a></li>
    <li><a href="#">Integrate</a></li>
  </ul>
  <div class="tab-content">
    <div id="setting"></div>
    <div id="usage"></div>
  </div>
</div>